{{- $gallery_name := or (.Get "name") (.Get 0) | default "gallery" -}}

{{- $res := .Page.Resources.GetMatch (printf "%s.yaml" $gallery_name) -}}
{{- if not $res -}}
  {{- errorf "No gallery YAML file found matching '%s.yaml' in page bundle %q" $gallery_name .Page.Path -}}
{{- end -}}

{{- $data := $res | transform.Unmarshal -}}

{{- $selector := printf "swiper-%s" $gallery_name -}}
<div class="swiper {{ $selector }}">
  <div class="swiper-wrapper">
  {{- range $item := $data -}}
  {{- with $.Page.Resources.GetMatch .image -}}
<div class="swiper-slide" data-caption="{{ $item.caption }}">
  <img src="{{- .RelPermalink }}" alt="{{- $item.caption }}" loading="lazy">
</div>
  {{- end -}}
  {{- end -}}
  </div>
  <!-- optional navigation -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
<div class="external-caption" id="caption-{{ $gallery_name }}"></div> 

<style>
  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img{
    display: inline;
  }

  .swiper-slide .caption {
    position: relative;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .external-caption {
    font-style: italic;
    display: block;
    text-align: center;
  }

  .{{ $selector }} {
    --swiper-navigation-size: clamp(10px, 5cqi, 40px);
    container-type: inline-size; 
    width: 100%;
  }
</style>

{{- $css := resources.Get "css/gallery.css" | css.PostCSS | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">

{{- with resources.Get "js/gallery.js" -}}
  {{- $jsContext := dict "GalleryName" $gallery_name -}}
  {{- $jsTemplated := . | resources.ExecuteAsTemplate (printf "js/gallery-exec-%d.js" (now.UnixNano)) $jsContext -}}
  {{- $jsBuilt := $jsTemplated | js.Build (dict "minify" true) | resources.Fingerprint -}}
<script src="{{ $jsBuilt.RelPermalink }}"></script>
{{- end -}}
